modules = ["python-3.12", "nodejs-22"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
TELEGRAM_TOKEN = "8795145097:AAHQjB25hUqsxGGg3rclmV2ir-vT9SYdQZY"
TELEGRAM_CHAT_IDS = "-1002705155458"
PAPER_BALANCE = "1000"
AUTOSTART = "true"
INTELLIGENCE_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzc5Mzc3MTM4LCJpYXQiOjE3NzQxOTMxMzgsImp0aSI6IjFlMGIxYTczMjE2ODQzNGJiZmFhNjdlMjUzYmYwZTI4IiwidXNlcl9pZCI6NjY3LCJzY29wZSI6ImxhdW5jaHBhZDphZ2VudC1yZWFkLHJldHJpZXZlcjplY2hvLWdlbmVyYXRpb24scmV0cmlldmVyOmZlYXR1cmUtZXh0cmFjdGlvbix1c2VyOnJlYWQscmV0cmlldmVyOmFnZW50LW9wdGlvbi1yZXRyaWV2YWwsbGF1bmNocGFkOmFnZW50LWNyZWF0aW9uLGxhdW5jaHBhZDphZ2VudC11cGRhdGUsdXNlcjp3cml0ZSxyZXRyaWV2ZXI6c2VtYW50aWMtcmV0cmlldmFsLGxhdW5jaHBhZDplY2hvLXN0eWxlLWNyZWF0aW9uIiwidG9rZW5fbmFtZSI6ImJhc2VfbG9naW4ifQ.KmpMkyutnvqfr0Nm2AiuRkHsS7mx4FFlJJ42rIJyjqo"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python polybot_v7_1.py --paper"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000
